<h1>Cuepoint編集ページ</h1>

<%= form_for(@cuepoint) do |f| %>
  <%= f.label :name, 'Name' %>
  <%#= f.text_field :name %>
　<%= f.text_field :name, class: 'form-control' %>
<%#= form_for(@campaign) do |f| %>
　<%#= f.label :movie_url, 'VAST URL' %>
　<%#= f.url_field :movie_url, class: 'form-control' %>
<p>VAST URL : 
<%= vast_url(@cuepoint) %>
</p>
<div>
  <%= f.submit '登録', class: 'btn btn-success btn-xs' %>
<% end %>
  <%= link_to '削除', @cuepoint, method: :delete, data: { confirm: "You sure?"}, class: 'btn btn-danger btn-xs' %>
  <%= link_to '中止', cuepoint_index_url %>
</div>
