<h1>Cuepoint一覧</h1>
<%= link_to '登録', registration_cuepoint_path, class: 'btn btn-success' %>
<table class="table">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>create</th>
        <th>update</th>
    </tr>
    <% @cuepoints.each do |cuepoint| %>
        <tr>
            <th><%= link_to cuepoint.id, edit_cuepoint_path(cuepoint) %></th>
            <th><%= cuepoint.name %></th>
            <th><%= cuepoint.created_at %></th>
            <th><%= cuepoint.updated_at %></th>
        </tr>
    <% end %>
</table>
