<h1>Campaign一覧</h1>
<%= link_to '登録', registration_path, class: 'btn btn-success' %>
<table class="table">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>start</th>
        <th>end</th>
        <th>goal</th>
        <th>create</th>
        <th>update</th>
    </tr>
    <% @campaigns.each do |campaign| %>
        <tr>
            <th><%= link_to campaign.id, edit_campaign_path(campaign) %></th>
            <th><%= campaign.name %></th>
            <th><%= campaign.start_at %></th>
            <th><%= campaign.end_at %></th>
            <th><%= campaign.limit_start %></th>
            <th><%= campaign.created_at %></th>
            <th><%= campaign.updated_at %></th>
        </tr>
    <% end %>
</table>

